{% extends 'dummy.html' %}
{% load static %}
{% block title %}
<title>Change Password Page</title>
{% endblock %}

{% block body_block %}

<style>
  body
    {
        background-image: url("{% static 'images/pw1.webp' %}");   
        background-repeat: no-repeat;
        background-size:cover;
    }
    h1
    {
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color:lightcyan;
      font-weight:900;
      margin-top: 20px;
    }

    label
    {
      margin-top: 30px;
      font-weight:900;
      color: yellow;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>

<center>
  <h1>Change Password</h1>
  <form method="POST">
    {% csrf_token %}
      <label for="pw">Password:</label>
      <input type="password" name="pw" id="pw"><br><br>
      <input type="submit" value="Change Password" class="btn btn-success">
  </form>
</center>

{% endblock %}