{% extends 'dummy.html' %}

{% block title %}
<title>change_password Page</title>
{% endblock %}

{% block body_block %}

<style>
    body
    {
     background-image: url('https://media.gettyimages.com/id/1266559436/photo/lock-icon-cyber-security-of-digital-data-network-protection-high-speed-connection-data.jpg?b=1&s=170667a&w=0&k=20&c=Glqi-hCL9D8YrM5dFr_Tae0-ySZul_AfikPeTM5X30I=');
     background-size: cover;
     color: ghostwhite;
    }
   </style>
<center>
    <h1 style="background:radial-gradient(circle,red,black,yellow,orange,pink,blue,brown); color: ghostwhite;">Change Password</h1>
      <form method="POST">
        {% csrf_token %}
        <label for="pw">Password:</label>
        <input type="password" name="pw" id="pw"><br><br>
        <input type="submit" value="Change_password" class="btn btn-danger">
      </form>
</center>

{% endblock %}