{% extends 'dummy.html' %}
{% block title %}
<title>Details Page</title>
{% endblock %}


{% block body_block %}
<center>
    <img src="{{PO.profile_picture.url}}" alt="nothing" srcset="" height="300px" width="300px" style="border-radius: 50%;">
    <h1>Name :<b>{{UO.username}}</b></h1>
    <h1>Email:<b>{{UO.email}}</b></h1>
    <h1>Address:<b>{{PO.address}}</b></h1>

</center>

<style>
    body 
    {
        background-image: url('https://c4.wallpaperflare.com/wallpaper/277/57/171/macbook-pro-dark-background-orange-stock-wallpaper-preview.jpg');
        color: ghostwhite;
    }
    h1
    {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
</style>
{% endblock %}