{% extends 'dummy.html' %}

{% block title %}
<title>reset_password Page</title>
{% endblock %}

{% block body_block %}

<style>
    
  h1
  {
    margin-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
    body
    {
      background-image: url('https://i.ytimg.com/vi/sw6wcYb2fMw/maxresdefault.jpg');
      background-size: cover;
      color: black;
    }

    input
    {
      text-align: center;
    }
  </style>
  
<center>
    <h1>Reset Password</h1>
    <table cellpadding="10px">
      <fieldset>
        <form method="POST">
            {% csrf_token %}
              <tr>
                  <td><label for="un">Username:</label></td>
                  <td><input type="text" name="un" id="un"></td>
              </tr>
              <tr>
                  <td><label for="pw">Password:</label></td>
                  <td><input type="password" name="pw" id="pw"></td>
              </tr>

   </table>
                <br><input type="submit" value="Change Password" class="btn btn-success"></td>
        </form>
  
</center>

{% endblock %}