{% extends 'dummy.html' %}

{% block title %}
<title>reset_password Page</title>
{% endblock %}

{% block body_block %}

<style>
    table
    {
      border:3px groove red;
    }
    body
    {
      background-image: url('https://static.vecteezy.com/system/resources/previews/021/830/027/large_2x/ai-generated-colorful-bubble-coral-seaweed-and-fish-underwater-world-fantasy-fluorescent-neon-aquatic-ocean-abstract-glow-in-the-dark-background-photo.jpg');
      background-size: cover;
      color: black;
    }
  </style>
  
<center>
    <h1>Reset_password</h1>
    <table border="2px">
        <fieldset>
        <form method="POST">
            {% csrf_token %}
            <tr>
                <td><label for="un">Username:</label></td>
                <td><input type="text" name="un" id="un"></td>
            </tr>

            <tr>
                <td><label for="pw">Password:</label></td>
                <td><input type="password" name="pw" id="pw"></td>
            </tr>

            <tr>
                <td><input type="submit" value="Change_password" class="btn btn-danger"></td>
            </tr>
        </form>
   </table>
  
</center>

{% endblock %}