{% extends 'dummy.html' %}
{% load static %}

{% block title %}
<title>Login Page</title>
<style>
    .box
    {
        height: 400px;
        width: 450px;
        margin-top:20px;
    }
    h2
    {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    }

    body
    {
        background-image: url("{% static 'images/dark.gif' %}");   
        background-repeat: no-repeat;
        background-size:cover;
    }
    #input
    {
        display: flex;
        flex-direction:column;
        margin-top: 40px;
    }
    .inputBox
    {
        margin-top: 25px;
    }
    .links
    {
        margin-top: 35px;
        margin-left: 20px;
    }
    
    #button
    {
        margin-top: 15px;
        padding:8px;
        width:100px;
        border-radius: 100%;
        border: none;
        margin-left: 15px;
    }
    #button:hover
    {
        background-color: green;

    }
    span
    {
        color:whitesmoke;
    }
    a
    {
        font-size: small;
    }

</style>

{% endblock %}

{% block body_block %}

<body>
<center>

    <div class="box">
        <span class="borderLine"></span>
        <form method="POST">
            {% csrf_token %}
                <h2 style="color: whitesmoke;">Login Form</h2>
            <div id="input">
                <div class="inputBox">
                    <span><b>Username</b></span>
                    <input type="text" required="required" id="username" name="username">
                    <i></i>
                </div>
                <div class="inputBox">
                    <span><b>Password</b></span>
                    <input type="password" required="required" id="password" name="password">
                    <i></i>
                </div>
                <div class="links">
                    <a href="">Forget Password</a><br>
                    <a href="{% url 'reset_password' %}">Reset Password</a>
                </div>
            </div>
            
            <input type="submit" value="LOGIN" id="button">
        </form>
    </div>

</center>
</body>


{% endblock %}